@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    border: 0;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

html {
    display: flex;
    background-color: #c5e4e7;
    min-height: 100%;
    font-family: "Space Mono", sans-serif;
    min-width: 100%;
}

body {
    min-width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.logo {
    width: 60%;
    margin: 0 auto;
    padding: 3.125rem;
}

.tip {
    background-color: white;
    flex: 1;
    border-radius: 16px 16px 0 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__bill {
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-label {
            font-weight: 600;
            color: #5e7a7d;
        }
        &-input {
            background: url(./images/icon-dollar.svg) no-repeat left;
            text-align: right;
            padding: 14px;
            background-size: 14px;
            background-position: 14px;
            border: none;
            background-color: #f3f9fa;
            border-radius: 5px;
            color: #00474b;
            font-size: 24px;
            font-weight: 600;
            outline: none;

            &:focus,
            &:hover {
                border: 1px solid #26c2ae;
                outline: 1px solid #26c2ae;
            }
        }
    }

    &__selection {
        outline: none;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 5px;

        &-item-wrapper {
            // display: grid;
            // grid-template-columns: repeat(2, 1fr);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 16px;
        }

        &-label {
            font-weight: 600;
            color: #5e7a7d;
        }

        &-item {
            padding: 10px;
            background-color: #00474b;
            color: white;
            border-radius: 5px;
            flex: 40%;
        }

        &-custom {
            border: none;
            background-color: #f3f9fa;
            color: #547878;
            text-align: right;
            font-size: 24px;
            padding-right: 20px;
            flex: 40%;
        }
    }
}
